<sw-page class="topdata-es-synonym-list-page">
    <template #smart-bar-header>
        <h2>{{ $tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.title') }}</h2>
    </template>

    <template #smart-bar-actions>
        <sw-button variant="primary" @click="onAddSynonym">
            {{ $tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.buttonAdd') }}
        </sw-button>
    </template>

    <template #content>
        <sw-entity-listing
            v-if="items"
            :dataSource="items"
            :columns="columns"
            :repository="repository"
            identifier="topdata-es-synonym"
            :show-settings="true"
            :show-selection="false"
            :allow-view="false"
            :allow-edit="true"
            :allow-delete="true"
            :allow-inline-edit="false"
            :full-page="true"
            :sort-by="sortBy"
            :sort-direction="sortDirection"
            :is-loading="isLoading"
            @page-change="onPageChange"
            @column-sort="onSortColumn"
            @edit="onEditSynonym"
        >
            <template #column-scope="{ item }">
                <sw-label v-if="item.scope === 'global'" variant="neutral" size="medium">
                    {{ $tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.scopeGlobal') }}
                </sw-label>
                <sw-label v-else-if="item.scope === 'product'" variant="info" size="medium">
                    {{ $tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.scopeProduct') }}
                </sw-label>
                <sw-label v-else-if="item.scope === 'category'" variant="success" size="medium">
                    {{ $tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.scopeCategory') }}
                </sw-label>
            </template>

            <template #column-createdAt="{ item }">
                <sw-time-ago :date="item.createdAt" :date-time-format="{ month: '2-digit', day: '2-digit' }" />
            </template>
        </sw-entity-listing>

        <sw-modal
            v-if="activeModal"
            :title="activeModalTitle"
            @modal-close="onCloseModal"
        >
            <sw-text-field
                v-model="currentEntity.term"
                required
                :label="$tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.labelTerm')"
            ></sw-text-field>

            <sw-textarea-field
                v-model="currentEntity.synonyms"
                required
                :label="$tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.labelSynonyms')"
                :placeholder="$tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.placeholderSynonyms')"
            ></sw-textarea-field>

            <sw-select-field
                v-model="currentEntity.scope"
                :label="$tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.labelScope')"
                required
            >
                <option value="global">{{ $tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.scopeGlobal') }}</option>
                <option value="product">{{ $tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.scopeProduct') }}</option>
                <option value="category">{{ $tc('TopdataElasticsearchHacksSW6.topdata-es-synonym.scopeCategory') }}</option>
            </sw-select-field>

            <template #modal-footer>
                <sw-button size="small" @click="onCloseModal">
                    {{ $tc('global.default.cancel') }}
                </sw-button>
                <sw-button variant="primary" size="small" @click="onSaveSynonym">
                    {{ $tc('global.default.save') }}
                </sw-button>
            </template>
        </sw-modal>
    </template>
</sw-page>
